@font-face {
  font-family: fontGame;
  src: url(./font.ttf);
}
.game-cotainer {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom;
  font-family: fontGame;
}
.game-cotainer button {
  font-size: 50px;
}
